extends base.pug

block content 
    form(method="POST" enctype="multipart/form-data")
        label(for="video") Video 
        input(type="file" required id="video" name="video" accept="video/*") 
        input(name="title" placeholder="Title" value=video.title required type="text" maxlength=80)
        input(name="description" placeholder="Description" value=video.description required type="text" minlength=20)
        input(name="hashtags" placeholder="Hashtags, Use comma for separating" value=video.hashtags.join() required type="text")
        input(type="submit" value="Save")